#no
{
background-color:black;
width:50%;
height:140px;
float:left;
}
#mo
{
background-color:blue;
width:50%;
height:140px;
float:right;
}
#oo
{
background-color:green;
width:100%;
height:1240px;
}
#po
{
background-color:red;
width:30%;
height:60px;
float:center;
margin-top:4%;
}