*{
	box-sizing: border-box;
	margin: 0;
}
.nav1 ul{
	list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 15px 0px 15px 100px;
}
.nav1{
	background-color: blue;
	border-radius: 20px;
	margin: 40px 150px 30px 150px;
}
.nav1 ul li{
	list-style-type: none;
	padding-right: 50px;
	color: white;
}
.x{
	margin: 30px 155px 40px 170px;
	display: flex;
}
.article h2{
	color: purple;
	text-decoration: underline;
}
.article{
	text-align: justify;
	width: 70%;
}
.right{
	display: block;
	margin-bottom: 100px;
	text-align: left; 
}
.right ul{
	text-decoration: none;
	list-style-type: none;
}
.right ul li{
	line-height: 40px;
	margin-left: -40px;
}
.right a:hover{
	color: red;
}
.side1{
	margin: 0px 0px 0px 60px;
	width: 20%;
	display: block;
}
.side{
	display: block;
	border: 1px solid lightgray;
	padding: 30px 20px 60px 20px;
	background-color: #eee;
}
.footer{
	background-color: black;
	padding: 15px;
	text-align: center;
	color: white;
	border-radius: 20px;
	margin: 50px 150px 30px 150px;
}
@media only screen and (max-width: 768px){
.nav1{
	margin: 0px 80px 20px 80px;
	border-radius: 10px;
}
.nav1 ul{
	display: block;
	margin-left: 150px
}
.nav1 ul li{
	display: block;
	line-height: 40px;
}
.article{
	width: 85%;
	display: block;
	text-align: justify;
}
.x{
	margin: 0px 0px 20px 95px;
	display:block;
}
.right{
	margin: 40px 0px 40px 0px;
}
.side1{
	margin-left: 0;
}
.side{
	border: 5px solid lightgray;
	width: 570px;
}
.footer{
	margin: 0px 80px 20px 80px;
}
}
@media only screen and (min-width: 375px) and (max-width: 425px){
.nav1{
	margin: 0px 40px 20px 40px;
	border-radius: 5px;
}
.nav1 ul{
	display: block;
	margin-left: 40px
}
.nav1 ul li{
	display: block;
	line-height: 40px;
}
.article{
	width: 85%;
	display: block;
	text-align: justify;
}
.x{
	margin: 0px 0px 20px 45px;
	display:block;
}
.side1{
	margin-left: 0;
}
.footer{
	margin: 0px 40px 20px 40px;
}
}
@media only screen and (max-width: 425px){
.side{
	width: 330px;
}
}
@media only screen and (max-width: 375px){ 
.side{
	width: 280px;
}
}