body{
  font-family: droid serif italic; 
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  background-color: white;
  background: linear-gradient(to bottom, #e6f8f9 20%, #b1e8ed 100%);
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
	.container {
		width: 30%;
		background: powderblue;
	}
}
input{
	outline: none;
}
.ml2 {
  font-weight: 200;
  font-size: 2em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.doodle{
  position: fixed;
  z-index: -1;
}